@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.container  {
    margin: 0 auto;
}

header {
    background-color: rgba(24, 24, 24, 1);

    .container {
        max-width: 1440px; 
        display: flex;
        justify-content: space-between;
        padding-bottom: 26px;

        img {
            margin-left: 152px;
            margin-top: 20px;
        }

        nav {
            margin-top: 20px;
            margin-right: 9.8%;

            a {
                text-decoration: none;
                margin-right: 32px;
                font-size: 15px;
                line-height: 20px;
                color: #FFFFFF;
            }
    
            button {
                background: #FFFFFF;
                border-radius: 14px;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.4px;
                color: #000000;
                padding: 10px 20px;
            }
        }
    }
}

.main {
    background: rgb(24,24,24);
    background: linear-gradient(180deg, rgba(24,24,24,1) 0%, rgba(0,0,0,1) 100%);

    .container {
        max-width: 1440px;
        padding-bottom: 46px;
        background: url(images/photos_for_landscape/blockMain.png) no-repeat 10% 10%;

        .infoBlock {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                margin-top: 31.8%;
                font-size: 14px;
                line-height: 20px;
                color: #C0C0C0;
                letter-spacing: 2px;
            }

            h1 {
                max-width: 100%;
                font-size: 54px;
                line-height: 59px;
                color: #FFFFFF;
                margin-top: 0.15%;
            }

            p {
                max-width: 41%;
                font-size: 14px;
                line-height: 20px;
                color: #C0C0C0;
                margin-top: 1.3%;
                text-align: center;
            }
        }

        .InformationIcons {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.9%;
            margin-right: 2%;

            .data {
                display: flex;
                justify-content: space-between;

                img {
                    margin-right: 6px;
                }

                p {
                    margin-right: 16px;
                    font-size: 12px;
                    line-height: 12px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.weDo {
    background-color: rgb(0, 0, 0);


    .container {
        max-width: 1168px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 6.2%;

        h2 {
            margin-top: 9%;
            font-size: 40px;
            line-height: 42px;
            color: #FFFFFF;
        }

        p {
            margin-top: 1.6%;
            font-size: 23px;
            line-height: 30px;
            color: #C0C0C0;
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 1%;
            column-gap: 1.4%;
            margin-top: 4%;

            .card {
                position: relative;

                h3 {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-top: 72%;
                    margin-left: 5%;
                }
    
                p {
                    margin-top: 1%;
                    font-size: 14px;
                    line-height: 20px;
                    color: #C0C0C0;
                    margin-left: 5%;
                    max-width: 86%;
                    margin-bottom: 13%;
                }
    
                button {
                    margin-top: 1%;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0.4px;
                    color: #C0C0C0;
                    padding: 11px 17px;
                    border-radius: 5px;
                    border: #C0C0C0 solid 2px;
                    margin-left: 5%;
                    position: absolute;
                    top: 87%;
                    background: transparent;
                    cursor: pointer;

                    &:hover {
                        transition: 0.2s;
                        background: #C0C0C0;
                        color: #000000;
                    }
                }
            }
        }
    }
}

#card1 {
    background-image: url(images/weDo/IMAGE1.png);
}
#card2 {
    background-image: url(images/weDo/IMAGE2.png);
}
#card3 {
    background-image: url(images/weDo/IMAGE3.png);
}
#card4 {
    background-image: url(images/weDo/IMAGE4.png);
}

.landscape {
    background-color: rgb(0, 0, 0);

    .container {
        max-width: 1440px;
        height: 600px;

        .containerCover {


            .presentationInfo {


                h3 {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding-top: 18.1%;
                    margin-left: 75%;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                    color: #C0C0C0;
                    margin: 0 0 14.2% 75%;
                    max-width: 21%;
                }
            }
        }

        .InformationIcons {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.9%;
             margin-right: 2%;
                
            .data {
                display: flex;
                justify-content: space-between;
                
                img {
                    margin-right: 6px;
                }
                
                p {
                    margin-right: 16px;
                    font-size: 12px;
                    line-height: 12px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

#landscape1 {
    background-image: url(images/photos_for_landscape/IMAGE1.png);
    background-repeat: no-repeat;
}
#landscape2 {
    background-image: url(images/photos_for_landscape/IMAGE2.png);
    background-repeat: no-repeat;
}
#landscape3 {
    background-image: url(images/photos_for_landscape/IMAGE3.png);
    background-repeat: no-repeat;
}

.weUse {
    background-color: rgb(0, 0, 0);

    .container {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .tools {
            padding-bottom: 153px;

            h3 {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #C0C0C0;
                margin-top: 173px;
                margin-left: 14%;
            }

            h2 {
                margin-top: 6px;
                font-size: 28px;
                line-height: 32px;
                color: #FFFFFF;
                margin-left: 14%;
            }

            p {
                margin-top: 14px;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                margin-left: 14%;
                max-width: 70%;
            }

            button {
                margin-top: 16px;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.4px;
                color: #C0C0C0;
                padding: 11px 17px;
                border-radius: 5px;
                border: #C0C0C0 solid 2px;
                margin-left: 14%;
                background: transparent;
                cursor: pointer;

                &:hover {
                    transition: 0.2s;
                    background: #C0C0C0;
                    color: #000000;
                }
            }
        }

        .decor {
            background-image: url(images/tools/IMAGE.png);

            .InformationIcons {
                display: flex;
                justify-content: flex-end;
                margin-top: 67.4%;
                margin-right: 3.8%;
                    
                .data {
                    display: flex;
                    justify-content: space-between;
                    
                    img {
                        margin-right: 6px;
                    }
                    
                    p {
                        margin-right: 16px;
                        font-size: 12px;
                        line-height: 12px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.clients {
    background-color: rgb(0, 0, 0);

    .container {
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;

        h2 {
            font-size: 40px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 8%;

        }

        p {
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #C0C0C0;
            margin-top: 1%;
        }

        .companies {
            display: flex;
            justify-content: space-between;
            max-width: 1076px;
            align-items: center;
            margin-top: 5.8%;
            :not(:last-child) {
                margin-right: 109px;
            }
        }
    }
}

.linkBlock {
    background-color: rgb(0, 0, 0);
    .container {
        max-width: 610px;
        padding-top: 113px;
        padding-bottom: 108px;
        h2 {
            font-size: 40px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
        }

        h3 {
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #C0C0C0;
            margin-top: 15px;
        }

        button {
            margin-top: 16px;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #C0C0C0;
            padding: 11px 17px;
            border-radius: 5px;
            border: #C0C0C0 solid 2px;
            margin-left: 39%;
            background: transparent;
            cursor: pointer;

            &:hover {
                transition: 0.2s;
                background: #C0C0C0;
                color: #000000;
            }
        }
    }
}

footer {
    background-color: rgb(0, 0, 0);

    .container {
        max-width: 1168px;


       .cover {
        display: grid;
        grid-template-columns: 57.5% 20.5% 22%;
        padding-top: 4.9%;
            .footerInformation {

                p {
                    font-size: 13px;
                    line-height: 20px;
                    color: #C0C0C0;
                    margin-top: 2%;
                }           
            }


            li {
                list-style-type: none;
                margin-left: 1%;
                margin-bottom: 4px;
                a {
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                }

                span {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #C0C0C0;
                    text-decoration: none;
                }
            }

       }

       .polosa {
        margin-top: 4%;
        max-width: 1200px;
        border: #C0C0C0 solid 1px ;
       }
        .footerFooter {
            display: flex;
            justify-content: space-between;
            margin-top: 2%;

            p {
                font-size: 14px;
                line-height: 20px;
                color: #C0C0C0;
            }

            .webs {
                display: flex;
                align-items: center;
                margin-bottom: 2%;
                img {
                    margin-left: 12px;
                }
            }
        }
    }
}